@charset "utf-8";
*{
	margin:0;
	padding:0;
}


h1{
	color: #FFF;
	margin: 0.25em auto;
	text-align:center;
	/*text-shadow: 5px 5px 10px rgba(255,255,255,0.5);*/
}


footer {
	background:#FFF;
	border-radius:1em;
	margin: 0.5em auto;
	max-width:1500px;
	padding: 0.5em;
	text-align:center;
	
}

section#contenedor{
	margin: 0.5em auto;
	max-width:1500px;
	padding: 0em;
	text-align:center;
	width:100%;
}

article{
	background:#FFF;
	border-radius:1em;
	margin: 1em auto;
	min-height:200px;
	min-width:200px;
	padding:0.25em;
}



